    @font-face {
        font-family: "Tesla"; src: url( '/CSS/TESLA.ttf' );
    }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url('/images/model-3-hero-desktop.png');
    background-size: cover;
}

nav h1{
    font-family: "Tesla";
    color: #f4f4f4;
    float: left;
    margin-top: 3px;
    padding: 20px;
    font-size: 22px;
}


nav > ul{
    width: 100%;
    margin-left: 400px;
    padding-top: 20px;
    background: none;
    

}

nav ul li{
    display: inline-block;   
    padding-right: 20px;
}

nav ul a{
    text-decoration: none;
   font-size: 16px;
    color: #f4f4f4;
    font-family: sans-serif;
    padding-left: 5px;
    margin-top: 10px;
}

nav ul a:hover{
    color: gray;

}

